@use "variables" as v;

@mixin clearfix{
    &::after{
        content: " ";
        clear: both;
        display: table;
    }
}

@mixin respond ($breakpoint){
    @if $breakpoint == $phone {
        @media only screen and (max-width:v.$phone){
            @content;
        }
    }

    @if $breakpoint == $tab-port {
        @media only screen and (max-width:v.$tab-port){
            @content;
        }
    }

    @if $breakpoint == $tab-land {
        @media only screen and (max-width:v.$tab-land){
            @content;
        }
    }

    @if $breakpoint == $big-desktop {
        @media only screen and (max-width:v.$big-desktop){
            @content;
        }
    }
}